<!DOCTYPE html> <!-- Defines the document type and version of HTML -->
<html> <!-- Encloses the entire HTML document -->
<head> <!-- Contains meta information about the document -->
    <title>Add Stat</title> <!-- Defines a title for the document -->
</head>
<body> <!-- Contains the content that will be visible to the user -->
    <h1>Add Stat</h1> <!-- Heading for the page -->
    <form action="{{ url_for('addstats') }}" method="POST"> <!-- Creates a form that will POST data to the 'addstats' route -->
        <label for="fav_id">Favorite ID:</label><br> <!-- Label for the Favorite ID input field -->
        <input type="number" id="fav_id" name="fav_id" required><br> <!-- Input field for Favorite ID, which must be a number and is required -->
        <label for="product_price">Product Price:</label><br> <!-- Label for the Product Price input field -->
        <input type="text" id="product_price" name="product_price" required><br> <!-- Input field for Product Price, which is required -->
        
        <input type="submit" value="Submit"> <!-- Submit button for the form -->
    </form>
</body>
</html>

