<!DOCTYPE html> <!-- Defines the document type and version of HTML -->
<html> <!-- The root element of an HTML page -->
  <head> <!-- Contains meta information about the HTML page -->
    <title>Amazon Price Tracker</title> <!-- Defines the title of the webpage -->
    <meta charset="UTF-8"> <!-- Specifies the character encoding for the HTML document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Makes your webpage look good on all devices -->
    <link href="https://fonts.googleapis.com/css?family=Officina+Sans:700&display=swap" rel="stylesheet"> <!-- Link to external font stylesheet -->
    <link rel="stylesheet" href="static/loginCSS.css"> <!-- Link to external CSS file -->
  </head>
  <body> <!-- Contains the content of an HTML page -->
    <h1 class="title">Amazon <span>Price Tracker</span></h1> <!-- Heading of the page with span tag to style a part of the text -->
    <h2 class="title">Login</h2> <!-- Sub-heading of the page -->
    <div class="login-container"> <!-- A container for the login form -->
      <form action=/loginverify method=post> <!-- Form element where the action attribute specifies where to send the form-data when a form is submitted -->
        <label for="username">Username:</label> <!-- Label for the username input field -->
        <input type="text" id="username" name="username" required> <!-- Text input field for username -->
        <label for="password">Password:</label> <!-- Label for the password input field -->
        <input type="password" id="password" name="password" required> <!-- Password input field for password -->
        <input type="submit" value="login"> <!-- Submit button for the form -->
      </form>
      <p>
      <a href="/signup"> Click here to signup</a> <!-- Link to the signup page -->
      </p>
    </div>
  </body>
</html> <!-- End of HTML document -->
