<!DOCTYPE html> <!-- This line is a document type declaration, helps with rendering in browser. -->
<html> <!-- This is the root element of an HTML page. -->

  <head> <!-- This is the head element, which contains meta-information about the document. -->
    <title>Amazon Price Tracker</title> <!-- This is the title of the document, which is displayed in the browser's title bar or tab. -->
    <meta charset="UTF-8"> <!-- This defines the character set for the document. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- This is for responsive design, to ensure proper rendering on different devices. -->
    <link href="https://fonts.googleapis.com/css?family=Officina+Sans:700&display=swap" rel="stylesheet"> <!-- This is linking to a Google font. -->
    <link rel="stylesheet" href="static/loginCSS.css"> <!-- This is linking to a CSS file for styles. -->
  </head>

  <body> <!-- This is the body element, which contains the content of the document. -->
    <h1 class="title">Amazon <span>Price Tracker</span></h1> <!-- This is a heading. -->
    <h2 class="title">Sign Up</h2> <!-- Another heading. -->
    <div class="login-container"> <!-- A division or section of the document. -->

      <form action=/logininsert method=post> <!-- This is a form, which allows user input. The input will be sent to the /logininsert endpoint using a POST request. -->
        <label for="username">Username:</label> <!-- This is a label for an input field. -->
        <input type="text" id="username" name="username" required> <!-- This is a text input field. -->
        <label for="password">Password:</label> <!-- Another label for an input field. -->
        <input type="password" id="password" name="password" required> <!-- This is a password input field. -->
        <input type="submit" value="signup"> <!-- This is a submit button for the form. -->
      </form>

      <p> <!-- This is a paragraph. -->
      <a href="/"> Click here to login</a> <!-- This is a link to the home page. -->
      </p>

    </div>

    </div>

  </body>

</html>
